doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='manifest' href='/javascripts/manifest.json')
    script(type='application/javascript' src='/javascripts/index.js')
  body
    block content
